<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-fixed-bottom" style="background-color: white;" th:fragment="footer">
    <div class="container" align="center" style="border: 1px solid #ddd;">
        <ul class="nav nav-tabs nav-tabs-justified" style="line-height:60px;">
            <div class="row" align="center">
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/main/index"><img src="/img/common/main2.png"></a></li>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/customer/index"><img src="/img/common/customer.png"></a></li>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/product/index"><img src="/img/common/product.png"></a></li>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/business/index"><img src="/img/common/business.png"></a></li>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/search/index"><img src="/img/common/search.png"></a></li>
                </div>
            </div>
        </ul>
    </div>
</nav>