<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::layout(~{::title})">
    <title>注册</title>
</head>
<body class="bg-black">
<div class="form-box" id="login-box">
    <div class="header">注册新会员</div>
    <form action="/register" method="post" id="register_form">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" id="nickName" name="nickName" class="form-control" placeholder="昵称"/>
            </div>
            <div class="form-group">
                <input type="text" id="userName" name="userName" class="form-control" placeholder="用户"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" value="1"/>
            </div>
            <div class="form-group">
                <input type="password" id="repassword" name="repassword" class="form-control" placeholder="重试密码"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="code" name="code" placeholder="验证码"/>
            </div>
            <a href="javascript:void(0);" rel="external nofollow" title="点击更换验证码">
                <img id="imgVerify" src="/getVerify" onclick="this.src='/getVerify?d='+new Date()*1">
            </a>
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">立即注册</button>
            <a href="/login" class="text-center">我已经是会员</a>
        </div>
    </form>
    <div class="margin text-center">
        <span>使用社交账号登陆</span>
        <br/>
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
        <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
    </div>
</div>
<script th:src="@{/module/js/index/register.js}"></script>
</body>
</html>