<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{common/layoutFile :: layout(~{::title},~{::section})}">
<head>
    <title>产品管理</title>
</head>
<body>
<section class="content">
    <div class="container-fluid">
        <form role="form" th:action="@{/product/edit}" method="post" th:object="${product}">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">产品信息</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="id" th:value="*{id}"/>
                            <!-- text input -->
                            <div class="form-group">
                                <label>产品名称</label>
                                <input type="text" class="form-control" th:value="*{productName}" name="productName"/>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>最小年龄</label>
                                        <input type="number" class="form-control" th:value="*{minAge}" name="minAge">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>最大年龄</label>
                                        <input type="number" class="form-control" th:value="*{maxAge}" name="maxAge">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>民族</label>
                                <input type="text" class="form-control" th:value="*{nation}" name="nation"/>
                            </div>
                            <div class="form-group">
                                <label>所在城市</label>
                                <input type="text" class="form-control" th:value="*{city}" name="city"/>
                            </div>
                            <div class="form-group">
                                <label>信用卡、贷款是否逾期</label>
                                <select class="form-control custom-select" name="overdue">
                                    <option>请选择</option>
                                    <option value="是" th:selected="*{overdue=='是'}">是</option>
                                    <option value="否" th:selected="*{overdue=='否'}">否</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>征信白户</label>
                                <select class="form-control custom-select" name="isCredit">
                                    <option>请选择</option>
                                    <option value="是" th:selected="*{isCredit=='是'}">是</option>
                                    <option value="否" th:selected="*{isCredit=='否'}">否</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>营业执照</label>
                                <select class="form-control custom-select" name="businessLicense">
                                    <option>请选择</option>
                                    <option value="有" th:selected="*{businessLicense=='有'}">有</option>
                                    <option value="无" th:selected="*{businessLicense=='无'}">无</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>营业执照年限</label>
                                <input type="number" class="form-control" th:value="*{businessLicensePeriod}"
                                       name="businessLicensePeriod" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>信贷余额(万元)</label>
                                <input type="number" class="form-control" th:value="*{creditBalance}"
                                       name="creditBalance" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>信用卡已使用额度(万元)</label>
                                <input type="number" class="form-control" th:value="*{creditUsedAmount}"
                                       name="creditUsedAmount" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>信用卡总额度(万元)</label>
                                <input type="number" class="form-control" th:value="*{creditTotal}" name="creditTotal"
                                       value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>信用卡使用率</label>
                                <input type="number" class="form-control" th:value="*{creditCardUsage}"
                                       name="creditCardUsage" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>负债(万元)</label>
                                <input type="number" class="form-control" th:value="*{debts}" name="debts" value="0"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>小贷笔数</label>
                                <input type="number" class="form-control" th:value="*{smallLoansNum}"
                                       name="smallLoansNum" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>小贷余额(万元)</label>
                                <input type="number" class="form-control" th:value="*{smallLoanBalance}"
                                       name="smallLoanBalance" value="0" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">产品信息</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>房产所在地</label>
                                <input type="text" class="form-control" th:value="*{houseLocation}"
                                       name="houseLocation"/>
                            </div>
                            <div class="form-group">
                                <label>房屋类型</label>
                                <select class="form-control custom-select" name="houseType">
                                    <option>请选择</option>
                                    <option value="全款房" th:selected="*{houseType=='全款房'}">全款房</option>
                                    <option value="月供房" th:selected="*{houseType=='月供房'}">月供房</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>房值(万元)</label>
                                <input type="number" class="form-control" th:value="*{houseValue}" name="houseValue"
                                       value="0"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>车类型</label>
                                <select class="form-control custom-select" name="vehicleType">
                                    <option>请选择</option>
                                    <option value="全款" th:selected="*{vehicleType=='全款'}">全款</option>
                                    <option value="按揭" th:selected="*{vehicleType=='按揭'}">按揭</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>车值(万元)</label>
                                <input type="number" class="form-control" th:value="*{vehicleValue}" name="vehicleValue"
                                       value="0"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>新单位工龄(月)</label>
                                <input type="number" class="form-control" th:value="*{lengthOfService}"
                                       name="lengthOfService" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>薪资(元)</label>
                                <input type="number" class="form-control" th:value="*{salary}" name="salary" value="0"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>社保缴费时长(月)</label>
                                <input type="number" class="form-control" th:value="*{socialSecurityTime}"
                                       name="socialSecurityTime" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>社保缴费基数(元)</label>
                                <input type="number" class="form-control" th:value="*{socialSecurityAmount}"
                                       name="socialSecurityAmount" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>公积金缴费时长(月)</label>
                                <input type="number" class="form-control" th:value="*{accumulationFundTime}"
                                       name="accumulationFundTime" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>公积金缴费基数(元)</label>
                                <input type="number" class="form-control" th:value="*{accumulationFundAmount}"
                                       name="accumulationFundAmount" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>公积金个缴(元)</label>
                                <input type="number" class="form-control" th:value="*{accumulationFundIndividual}"
                                       name="accumulationFundIndividual" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>微利贷(万元)</label>
                                <input type="number" class="form-control" th:value="*{lowProfitLoan}"
                                       name="lowProfitLoan" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>个人流水(万元)</label>
                                <input type="number" class="form-control" th:value="*{personalDetailed}"
                                       name="personalDetailed" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>个人流水(万元)</label>
                                <input type="number" class="form-control" th:value="*{companyDetailed}"
                                       name="companyDetailed" value="0" required/>
                            </div>
                            <div class="form-group">
                                <label>内容</label>
                                <textarea id="content" name="content" th:utext="*{content}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="reset" value="重置" class="btn btn-secondary">
                    <input type="submit" value="提交" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
<script th:src="@{/module/js/product/product.js}"></script>
