<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-fixed-bottom" style="background-color: white;" th:fragment="footer">
    <div class="container" align="center" style="border: 1px solid #ddd;">
        <ul class="nav nav-tabs nav-tabs-justified" style="line-height:60px;">
            <div class="row" align="center">
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/"><img src="/img/common/S.png"></a></li>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/using/index"><img src="/img/common/S.png"></a></li>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" align="center">
                    <li><a href="/product/single"><img src="/img/common/B.png"></a></li>
                </div>
            </div>
        </ul>
    </div>
</nav>
