<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="width3" id="myScrollspy" style="margin: 10px 0;float: left" th:fragment="menu">
    <img alt="200x200" src="/img/common/stripe.png" width="220" height="220"/>
    <ul class="nav nav-tabs nav-stacked" data-offset-top="125">
        <li class="accordion"><a href="/using/index" class="grey1">
            <img src="/img/common/S.png" class="img_right" height="32">Accept a payment</a>
        </li>
        <li class="accordion"><a href="/without/index" class="yellow2">
            <img src="/img/common/S.png" class="img_right" height="32">Finalize payments on the server</a>
        </li>
        <li class="accordion"><a href="/declining/index" class="yellow2">
            <img src="/img/common/S.png" class="img_right" height="32">U.S. & Canada Card</a>
        </li>
        <li class="accordion"><a href="/savingCards/index" class="yellow2">
            <img src="/img/common/S.png" class="img_right" height="32">Save a card during payment</a>
        </li>
        <!--        <li class="accordion"><a href="/payments" class="yellow2">-->
        <!--            <img src="/img/common/S.png" class="img_right" height="32">payments</a>-->
        <!--        </li>-->
    </ul>
</div>
