
.footer {
    margin: auto;
    position: fixed;
    right: 10px;
    text-align: right;
    bottom: 0;
}

.a-upload {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}

.a-upload input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.form-label {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
}
