<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{common/layoutFile :: layout(~{::title},~{::section})}">
<head>
    <title>客户管理</title>
</head>
<body>
<!-- Main content -->
<section class="content">
    <div class="col-md-6">
        <!-- general form elements disabled -->
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">基本信息</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <form role="form" th:action="@{/example/edit}" th:object="${example}" method="post">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" th:value="*{userName}" name="userName"/>
                    </div>
                    <div class="form-group">
                        <label>性别</label>
                        <select class="form-control custom-select" name="sex">
                            <option selected disabled>请选择</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>年龄</label>
                        <input type="text" class="form-control" th:value="*{age}" name="age"/>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-primary">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
